entrypoint = "index.js"
modules = ["nodejs-20:v8-20230920-bd784b9"]
hidden = [".config", "package-lock.json"]

[nix]
channel = "stable-23_05"

[unitTest]
language = "nodejs"

[deployment]
run = ["sh", "-c", "npm start:casino-monorepo"]
deploymentTarget = "cloudrun"
ignorePorts = false
build = ["sh", "-c", "npm run build:casino-monorepo"]
