$background-color: #ffd966
$text-color: #222;
$component-background-color: ##ffbf00#;
$component-text-color: #000000;
$component-box-shadow: rgba(128, 94, 0, 0.24) 0px 3px 8px;
$primary-color: ##ffbf00#;
$button-background-color: #FDAD00;
$button-text-color: #00000;
$button-box-shadow: rgba(128, 94, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
